<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hosjoy.order_data.modules.order_data.mapper.payment.PaymentDataMapper">
    <select id="getBusinessMem" resultType="com.hosjoy.order_data.modules.order_data.po.BusinessMem">
        SELECT company_code
        FROM `t_authentication_info`
        WHERE user_type = '12'
    </select>
</mapper>